<div *ngFor="let task of tasks" class="task-item p-3 mb-3 bg-white rounded shadow-sm">
    <div class="d-flex justify-content-between align-items-center ms-5 me-5">
        <div >
            <h3 class="h5">{{ task.title }}</h3>
            <p class="mb-0 text-muted">{{ task.description }}</p>
            <p class="mb-0 text-muted">Status: {{ task.status }}</p>
        </div>
        <div *ngIf="task" class="btn-group">
            <button class="btn btn-outline-primary btn-sm" (click)="openUpdateTaskDialog(task)">Update Task</button>
            <button class="btn btn-outline-danger btn-sm" (click)="deleteTask(task)">Delete Task</button>
        </div>
    </div>
</div>
  