<form class="row g-4 p-4 border rounded shadow-sm bg-light" (ngSubmit)="updateTask()">
    <div class="col-md-4">
      <label for="title" class="form-label fw-bold">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter title"
        [(ngModel)]="task.title"
        name="title"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="description" class="form-label fw-bold">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Enter description"
        [(ngModel)]="task.description"
        name="description"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="status" class="form-label fw-bold">Status</label>
      <input
        type="text"
        class="form-control"
        id="status"
        placeholder="Enter status"
        [(ngModel)]="task.status"
        name="status"
        required
      />
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary btn-lg m-2">Update Task</button>
      <button type="button" class="btn btn-danger btn-lg m-2" (click)="cancel()">Cancel</button>
    </div>
  </form>
  