<nav class="navbar navbar-light bg-light mb-4 p-3 shadow-sm">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand fw-bold" href="#">Task Manager</a>
            <button class="btn btn-outline-success btn-sm" (click)="openAddTaskDialog()">
                Add Task
            </button>
        </div>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show mb-0 pt-2 pb-2 me-5" role="alert">
            <div>
                <strong>{{ alert }}</strong>
                <button (click)="closeAlert()" type="button" class="btn-close me-1" style="width: auto; height: auto;" aria-label="Close"></button>
            </div>
        </div>
    </div>
</nav>
